<%- include("../partials/header") %>
 
  <h3 class="lead"> Thanks for Trusing Us , we well , soon, get in touch with you !</h3>
  <p>Best of luck</p>
  <a href="/" class="lead">Back to Home !</a>
   
<%- include("../partials/footer") %>